In [1]:
print ('ini kelas Algoritma!')

ini kelas Algoritma!

In [2]:
print ("ini kelas algoritma!")

ini kelas algoritma!

In [3]:
print(" I don't understant what are you saying")

 I don't understant what are you saying

In [6]:
print('I don't understant what are you saying')

SyntaxError: invalid syntax (Temp/ipykernel_34264/2915072646.py, line 1)

In [7]:
print('He is such a "GENIUS"')

He is such a "GENIUS"

In [8]:
print("He is such a "GENIUS"")

SyntaxError: invalid syntax (Temp/ipykernel_34264/4209300773.py, line 1)

In [9]:
mahasiswa=82
uang_di_dompet = 10000
print(mahasiswa)
print(uang_di_dompet)
print(mahasiswa*uang_di_dompet)

82
10000
820000

In [11]:
nama_depan = 'Irene'
nama_tengah = 'Pratiwi' 
nama_belakang = 'Yorman'
print(nama_depan + nama_tengah + nama_belakang)

IrenePratiwiYorman

In [12]:
nama = input ("Siapakah nama anda? ")
kegiatan = input('Apakah kegiatan anda sekarang,' + nama +"?")
print("Semangat" + kegiatan +"nya yah, " + nama + "!")

Siapakah nama anda? iren
Apakah kegiatan anda sekarang,iren ?buat tugas
Semangatbuat tugas nya yah, iren !

In [13]:
uang_di_dompet = input("Berapakah jumlah uang di dompet anda?") 
uang_di_bank = input ("Berapakah jumlah uang anda di bank?") 
print("Total uang anda adalah Rp " + uang_di_dompet + uang_di_bank)

Berapakah jumlah uang di dompet anda?50000
Berapakah jumlah uang anda di bank?200000
Total uang anda adalah Rp 50000200000

In [14]:
uang_di_dompet = input("Berapakah jumlah uang di dompet anda?")
uang_di_bank = input ("Berapakah jumlah uang anda di bank?") 
total_uang = int (uang_di_dompet) + int (uang_di_bank) 
print("Total uang anda adalah Rp " + str(total_uang))

Berapakah jumlah uang di dompet anda?50000
Berapakah jumlah uang anda di bank?200000
Total uang anda adalah Rp 250000

In [15]:
type(uang_di_dompet)

str

In [16]:
type(uang_di_bank)

str

In [17]:
type(total_uang)

int

In [19]:
bilangan_satu= input ("Masukkan bilangan pertama:") 
bilangan_kedua = input ("Masukkan bilangan kedua:") 
jumlah = float(bilangan_satu) + float(bilangan_kedua) 
print("Jumlah kedua bilangan adalah" +str(jumlah))

Masukkan bilangan pertama:7
Masukkan bilangan kedua:4
Jumlah kedua bilangan adalah11.0

In [20]:
nama = "Bunga" 
pekerjaan = "Dokter"
institusi = "RS Udayana"
print(nama+ 'adalah seorang ' + pekerjaan + 'di' + institusi + '.')

Bungaadalah seorang DokterdiRS Udayana.

In [22]:
print (f'{nama} adalah seorang {pekerjaan} di {institusi}.')

Bunga adalah seorang Dokter di RS Udayana.

In [23]:
print(f"{nama} adalah seorangn {pekerjaan} di {institusi}  ")

Bunga adalah seorangn Dokter di RS Udayana

In [24]:
kelas = 'ini kelas algoritma'

In [25]:
print(kelas[0:4])

ini

In [26]:
print(kelas[0:-2])

ini kelas algorit

In [27]:
print(kelas[4:-2])

kelas algorit

In [28]:
print(kelas[2:-3:2])

iklsagr

In [29]:
print(kelas[:-3])

ini kelas algori

In [30]:
print(kelas[1:])

ni kelas algoritma

In [31]:
print(kelas[:])

ini kelas algoritma

In [32]:
judul = 'Matematika Ilmu Menyenangkan'

In [33]:
print(len(judul))

28

In [34]:
judul.upper()

'MATEMATIKA ILMU MENYENANGKAN'

In [35]:
judul.lower()

'matematika ilmu menyenangkan'

In [37]:
judul.find('Ilmu')

11

In [38]:
judul.find('matematika')

-1

In [39]:
judul.replace('Matematika','Menyenangkan')

'Menyenangkan Ilmu Menyenangkan'

In [40]:
judul.replace('matematika', 'menyenagkan')

'Matematika Ilmu Menyenangkan'

In [42]:
print('Matematika' in judul)

True

In [43]:
print('matematika' in judul)

False

In [44]:
print(3+4) 
print(3-4) 
print(3*4) 
print(8/4) 
print(8//4) 
print(8%4) 
print(3**4) 
x=3
x+=1
print(x) 
x-=2
print(x)
x*=3
print(x)

7
-1
12
2.0
2
0
81
4
2
6

In [45]:
x= 3>2
print(x)
x= 2<3
print(x)
x=3 >=2
print(x) 
x=2 <=3
print(x)
x=3 ==3
print(x)
x=3 !=4
print(x)

True
True
True
True
True
True

In [46]:
x= 2>3 
print(x)
x= 3<2
print(x) 
x=2 >=3
print (x)
x=3 <=2
print(x)
x=3 ==4
print(x)
x=3 !=3
print(x)

False
False
False
False
False
False

In [47]:
buah_jeruk = 15
buah_mangga = 20
print(buah_jeruk > 10 and buah_mangga < 22)

True

In [48]:
print(buah_jeruk < 10 or buah_mangga < 22)

True

In [50]:
print(buah_jeruk < 10 or buah_mangga > 22)

False

In [51]:
print(not (buah_jeruk <10 or buah_mangga > 22))

True

In [52]:
nilai = float ( input ("Nilai anda adalah"))
if nilai >= 90:
    print("Anda mendapatkan nilai A")
    print("Bagus sekali, selamat!") 
if nilai < 90 and nilai >=80:
    print("Anda mendapatkan nilai B") 
    print("Tingkatkan prestasimu!") 
if nilai >=70 and nilai <80:
    print("Anda mendapatkan nilai C") 
    print("Lain kali musti lebih baik")
if nilai >=60 and nilai <70:
    print("Anda mendapatkan nilai D") 
    print("Ulang lagi tahun depan") 
if nilai <50:
    print("Anda mendapatkan nilai E")
    print("Sampai jumppa tahun depan")

Nilai anda adalah90
Anda mendapatkan nilai A
Bagus sekali, selamat!

In [53]:
nilai = float(input("Nilai anda adalah "))
if nilai >=80:
    print("Anda mendapatkan nilai A")
    print("Bagus sekali, selamat!")
elif nilai >=70:
    print("Anda mendapatkan nilai B")
    print("Tingkatkan prestasimu!") 
elif nilai >=60:
    print("Anda mendapatkan nilai C")
    print("Lain kali musti lebih baik") 
elif nilai >=50:
    print("Anda mendapatkan nilai D")
    print("Ulang lagi tahun depan")
else:
    print("Anda mendapatkan nilai E")
    print("Sampai jumpa tahun depan")

Nilai anda adalah 70
Anda mendapatkan nilai B
Tingkatkan prestasimu!

In [60]:
tinggi = float(input("Berapakah tinggi anda?")) 
cm_atau_inci =input ("Tingginya dalam cm atau inci?") 
if cm_atau_inci.upper() == 'CM':
    tinggi = tinggi*0.393701
    print("Tinggi anda adalah " + str(tinggi) + "inci")
elif cm_atau_inci.upper() == 'INCI' :
    tinggi = tinggi/0.393701 
    print(f"Tinggi anda adalah {tinggi} cm ")

Berapakah tinggi anda?160
Tingginya dalam cm atau inci?Cm
Tinggi anda adalah 62.992160000000005inci

In [57]:
a = 0 
while a<6:
    print("Angka " + str(a)+ "masih dibawah 6") 
    a +=1

Angka 0masih dibawah 6
Angka 1masih dibawah 6
Angka 2masih dibawah 6
Angka 3masih dibawah 6
Angka 4masih dibawah 6
Angka 5masih dibawah 6

In [59]:
a=0 
while a<7:
    print(a* '*') 
    a +=1

*
**
***
****
*****
******